<ion-tabs>
  <ion-tab-bar slot="bottom" class="curved-tab-bar">
    <div class="tab-bar-background">
      <svg
        viewBox="0 0 375 70"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0,0 L138,0 C138,0 148,0 154.5,5.5 C161,11 163,18 163,18 C163,18 168,38 187.5,38 C207,38 212,18 212,18 C212,18 214,11 220.5,5.5 C227,0 237,0 237,0 L375,0 L375,70 L0,70 L0,0 Z"
          fill="#ffffff"
        />
      </svg>
    </div>

    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favorite" href="/favorite">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/cart" class="prominent-cart">
      <div class="cart-circle">
        <ion-icon name="cart-outline"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/notifications">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account" href="/account">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
