ion-header {
  // Ensure the header doesn't have a background that clashes with the toolbar
  --background: transparent;
  background: white; // Or your preferred color

  ion-toolbar {
    /* Normalizing height and padding */
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 8px;
    --padding-end: 8px;
    --min-height: 56px; // Standard height to prevent jumping

    /* Force background color */
    --background: white;

    /* Beautiful bottom border for structure */
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.empty-state {
  margin-top: 100px;
  ion-icon {
    font-size: 80px;
  }
  h3 {
    font-weight: bold;
    margin-top: 20px;
  }
}

.best-sellers-list {
  padding: 12px;
}

.filter-header {
  background: var(--ion-background-color);
  padding: 20px 5px;

  .title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--ion-color-dark);
  }
}