<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-avatar slot="start" class="ion-margin-start">
      <img src="https://i.pravatar.cc/150?u=user" />
    </ion-avatar>

    <ion-title>
      <div class="brand-container">
        <span class="brand-main">Gadget</span><span class="brand-alt">Pro</span
        ><span class="brand-dot">.</span>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <swiper-container
    pagination="true"
    pagination-clickable="true"
    autoplay-delay="3000"
    class="hero-swiper"
  >
    <swiper-slide *ngFor="let b of bannerHero">
      <div class="hero-card alternate-color">
        <div class="hero-text">
          <h3>{{ b.title }}</h3>
        </div>
        <div class="hero-image-wrapper">
          <img src="{{ b.image }}" />
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="category-row">
    <div
      *ngFor="let cat of categories"
      class="cat-item"
      [class.active]="selectedCategory === cat.category_id"
      (click)="selectCategory(cat.category_id)"
    >
      <img [src]="cat.icon_img" class="cat-icon" alt="icon" />

      <span>{{ cat.name }}</span>
    </div>
  </div>

  <!-- <div class="category-detail" *ngIf="selectedCategory">
    <h3>{{ selectedCategory }}</h3>
    <p>{{ categories.find(c => c.name === selectedCategory)?.desc }}</p>
  </div> -->

  <div class="section-header">
    <h2>Popular Product</h2>
  </div>

  <ion-row>
    <ion-col size="6" *ngFor="let p of popularProducts">
      <div class="product-card">
        <div class="discount-badge" *ngIf="p.discount">-{{p.discount}}%</div>
        <img [src]="p.image" />
        <div class="p-info">
          <h4>{{p.name}}</h4>
          <p>{{p.brand}}</p>
          <div class="price-row">
            <span>${{p.price}}</span>
            <div class="add-btn"><ion-icon name="add"></ion-icon></div>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <div class="section-header">
    <h2>Best Selling</h2>
    <small>1/10</small>
  </div>

  <div class="best-selling-item" *ngFor="let item of bestSelling">
    <img [src]="item.image" />
    <div class="item-details">
      <h4>{{item.name}}</h4>
      <div class="rating">
        <ion-icon
          name="star"
          color="warning"
          *ngFor="let s of [1,2,3,4,5]"
        ></ion-icon>
      </div>
      <div class="price-row">
        <span>${{item.price}}</span>
        <ion-button size="small" shape="round">Order</ion-button>
      </div>
    </div>
  </div>
</ion-content>
