<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-avatar slot="start" class="ion-margin-start">
      <img src="https://i.pravatar.cc/150?u=user" />
    </ion-avatar>

    <ion-title>
      <div class="brand-container">
        <span class="brand-main">Gadget</span><span class="brand-alt">Pro</span
        ><span class="brand-dot">.</span>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <swiper-container
    pagination="true"
    pagination-clickable="true"
    autoplay-delay="3000"
    class="hero-swiper"
  >
    <swiper-slide *ngFor="let b of bannerHero">
      <div class="hero-card alternate-color">
        <div class="hero-text">
          <h3>{{ b.title }}</h3>
        </div>
        <div class="hero-image-wrapper">
          <img src="{{ b.image }}" />
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="category-row">
    <div
      *ngFor="let cat of categories"
      class="cat-item"
      [class.active]="selectedCategory === cat.name"
      (click)="selectCategory(cat.name)"
    >
      <img [src]="cat.icon_img" class="cat-icon" alt="icon" />

      <span>{{ cat.name }}</span>
    </div>
  </div>

  <div class="section-header">
    <h2>Popular Products</h2>
    <ion-button fill="clear" routerLink="/products/popular">
      View All
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <ion-row class="product-grid">
    <ion-col size="6" size-md="6" size-lg="4" *ngFor="let p of popularProducts">
      <app-product-card
        [p]="p"
        (add)="handleAddToCart($event)"
        (fav)="handleFavorite($event)"
      >
      </app-product-card>
    </ion-col>
  </ion-row>

  <div class="section-header">
    <h2>Best Sellers</h2>
    <ion-button fill="clear" routerLink="/products/best-seller">
      View All
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <div class="best-sellers-list">
    <app-best-seller-item 
      *ngFor="let p of bestSellers" 
      [item]="p"
      (order)="handleOrder($event)">
    </app-best-seller-item>
  </div>
</ion-content>
