<div class="best-selling-card">
  <div class="img-box">
    <div class="top-seller-badge">#{{ rank }}</div>
    <img [src]="'./assets/product-imgs/' + item.image" alt="product" />
  </div>

  <div class="item-info">
    <div class="text-group">
      <h4>{{ item.name }}</h4>
      <div class="rating-row">
        <ion-icon
          *ngFor="let s of [1, 2, 3, 4, 5]"
          [name]="getStarName(s)"
          color="warning"
        ></ion-icon>
        <span class="rating-val">{{ item.metrics.rating }}</span>
      </div>
    </div>

    <div class="action-row">
      <span class="price-text">${{ item.price }}</span>
      <ion-button
        (click)="onOrder()"
        size="small"
        shape="round"
        class="order-btn"
      >
        Order
      </ion-button>
    </div>
  </div>
</div>
