/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Battambang";
  src: url("./assets/fonts/Battambang/Battambang-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
  unicode-range: U+1780-17FF, U+19E0-19FF;
}

@font-face {
  font-family: "Battambang";
  src: url("./assets/fonts/Battambang/Battambang-Regular.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
  unicode-range: U+1780-17FF, U+19E0-19FF;
}

:root {
  --ion-font-family: "Inter", "Battambang", sans-serif;
}

body {
  font-family: "Battambang", system-ui, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ================================
   HERO SWIPER (IONIC + WEB COMPONENT)
   ================================ */

// /* Swiper container */
// swiper-container.hero-swiper {
//   position: relative;
//   padding-bottom: 28px; // 🔥 space for pagination (red line zone)
// }

// /* Pagination positioned in the bottom space */
// swiper-container.hero-swiper::part(pagination) {
//   position: absolute;
//   bottom: 0; // sits exactly on the red line
//   left: 0;
//   width: 100%;
//   // padding-bottom: 20px;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 4px;
// }

// /* Inactive bullet = circle */
// swiper-container.hero-swiper::part(bullet) {
//   width: 8px;
//   height: 8px;
//   background: #73ff0076;
//   border-radius: 50%;
//   opacity: 1;
//   transition: all 0.25s ease;
// }

// /* Active bullet = pill */
// swiper-container.hero-swiper::part(bullet-active) {
//   width: 18px;
//   height: 8px;
//   background: #73ff00;
//   border-radius: 4px;
// }
